{% extends 'accounts/base_admin.html' %}

{% block title %}

Preview Form

{% endblock %}

{% block page_title %}

Preview Form

{% endblock %}

{% block content %}

<style>

    .preview-card{

        max-width:1000px;

        margin:auto;

        background:white;

        border-radius:32px;

        padding:40px;

        box-shadow:
            0 10px 30px rgba(15,23,42,0.05);
    }

    .preview-title{

        font-size:38px;

        font-weight:800;

        color:#0f172a;
    }

    .preview-sub{

        color:#64748b;

        margin-top:12px;

        margin-bottom:40px;
    }

    .question-box{

        background:#f8fafc;

        border-radius:24px;

        padding:28px;

        margin-bottom:24px;
    }

    .question-title{

        font-size:20px;

        font-weight:700;

        margin-bottom:20px;
    }

    .required{

        color:red;
    }

    .form-control,
    .form-select{

        height:56px;

        border-radius:16px;
    }

    textarea.form-control{

        min-height:130px;
    }

</style>

<div class="preview-card">

    <!-- FORM TITLE -->

    <div class="preview-title">

        {{ form.title }}

    </div>

    <!-- DESCRIPTION -->

    <div class="preview-sub">

        {{ form.description }}

    </div>

    <!-- QUESTIONS -->

    {% for question in questions %}

        {% include 'forms_engine/_answer_widget.html' with question=question %}

    {% endfor %}

</div>

{% endblock %}